<div class="content-end">
    <div class="form">
        <div class="content-area">
         <div class="title">
            <h1>Lista de procesos electorales</h1>
         </div>
         <div class="table">
            <table>
                <div class="contenttable">
                    <div id='headers' class='headers'>
                        <div id='tabletop' class='tabletop'>
                          <div id='search' class='search'>
                            <div id='tabletitle' class='tabletitle'>
                              Codigo</div>
                          </div>
                          <div id='title2' class='title2'>
                            <div id='search2' class='search2'>
                              Id</div>
                          </div>
                        </div>
                        <div id='tabletop2' class='tabletop2'>
                          <div id='search3' class='search3'>
                            <div id='tabletitle2' class='tabletitle2'>
                              Nombre</div>
                          </div>
                          <div id='title4' class='title4'>
                            <div id='procesoelectoral' class='procesoelectoral'>
                              Proceso electoral</div>
                          </div>
                        </div>
                        <div id='tabletop3' class='tabletop3'>
                          <div id='title5' class='title5'>
                            <div id='tabletitle3' class='tabletitle3'>
                              Estado</div>
                          </div>
                          <div id='select' class='select'>
                            <div id='all' class='all'>
                              Todos</div>
                          </div>
                        </div>
                        <div id='tabletop4' class='tabletop4'>
                          <div id='search4' class='search4'>
                            <div id='tabletitle4' class='tabletitle4'>
                              Fecha</div>
                          </div>
                          <div id='title8' class='title8'>
                            <div id='deinicio' class='deinicio'>
                              De inicio</div>
                          </div>
                        </div>
                        <div id='tabletop5' class='tabletop5'>
                          <div id='search5' class='search5'>
                            <div id='tabletitle5' class='tabletitle5'>
                              Ganador</div>
                          </div>
                          <div id='title10' class='title10'>
                            <div id='nombredelpartido' class='nombredelpartido'>
                              Nombre del partido</div>
                          </div>
                        </div>
                        <div id='empty' class='empty'>
                          <div id='search6' class='search6'>
                          </div>
                          <div id='title11' class='title11'>
                          </div>
                        </div>
                      </div>
                    <hr>
                    
                </div>

            </table>

         </div>
         

        </div>

    </div>
</div>

<!--
      <div class="headers">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div class="tabletop">
                                        <div class="search">
                                            <div class="tabletitle">
                                                Código
                                            </div>
                                        </div>
                                        <div class="title2">
                                            <div class="search2">Id</div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="tabletop2">
                                        <div class="search3">
                                            <div class="tabletitle2">
                                                Nombre
                                            </div>
                                        </div>
                                        <div class="title4">
                                            <div class="search4">Proceso Electoral</div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="tabletop3">
                                        <div class="title5">
                                            <div class="tabletitle3">
                                                Estado
                                            </div>
                                        </div>
                                        <div class="select2">
                                            <div class="all">Todos</div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="tabletop4">
                                        <div class="search4">
                                            <div class="tabletitle4">
                                                Nombre
                                            </div>
                                        </div>
                                        <div class="title8">
                                            <div class="deinicio">Proceso Electoral</div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="tabletop5">
                                        <div class="search5">
                                            <div class="tabletitle5">
                                                Ganador
                                            </div>
                                        </div>
                                        <div class="title10">
                                            <div class="nombredelpartido">Nombre </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        
                    </div>
-->