<div class="content-end" >
  <div class="form">
  <h1 class="title">Eleccion 1</h1>
  <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus dictum dui, in egestas velit fringilla consequat. Nunc consectetur risus a felis egestas pulvinar. Suspendisse luctus scelerisque sem, ullamcorper facilisis nisi consequat in. Cras venenatis nec sapien sit amet bibendum. Curabitur tempus facilisis enim, non placerat felis rhoncus nec. Donec dictum erat a mauris ultricies, vitae ultricies purus varius. Etiam porttitor leo sem, et lobortis mi pulvinar at. Sed ligula dolor, tempor eu ultricies eu, maximus convallis lorem. Sed tincidunt nec nisi ac feugiat. Morbi fringilla rhoncus tellus, eu dictum eros dapibus vitae. Sed id convallis augue, nec mollis velit.</p>
  <label class="fecha">02/10/2029 - 30/11/2023</label>
  <div class="resultados">
    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
  </div>
</div>
</div>
