.content-end {height: 100%; width: 1075px; background-color: #F0F8FF; padding: 25px;}
.form-content {max-width: 60%; margin: auto;}
.form {height: 100%; width: 99%;position: relative; background-color: white; border-radius: 8px;box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12);}
.date-columns {display: flex; gap: 50px;}
.fecha {width: 200px;}
.hidden {display: none;}
textarea, input, label, span ,p, h1, h2, h3, h4 {font-family: Poppins;}

/*INPUTS*/
input, textarea, select {font-size: 0.8em; -webkit-appearance: none; -moz-appearance: none; border: none; line-height: initial !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {background-color: var(--white-color); border-radius: 8px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):disabled, select:disabled, textarea:disabled {background: rgba(0, 0, 0, 0.1) !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select:not([size]), textarea {height: 38px; padding: 0 18px; border: 1px solid #ddd;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus, select:not([size]):focus, textarea:focus, input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):hover, select:not([size]):hover, textarea:hover {border-color: #bbb;}
input[type="submit"] {cursor: pointer;}
input[type="file"] {display: none;}
textarea {height: 60px; padding: 5px 18px; transition: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;}
select[size] {background: var(--white-color); border-radius: 2px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); overflow: auto;}
select[size] option { padding: 5px 10px; transition: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;}
select[size] option:checked {box-shadow: 0 0 0 20000px #88d65d inset;}
input.icon-input {padding-right: 32px; background-position: calc(100% - 10px) center !important; background-repeat: no-repeat !important; background-size: 20px !important;}
input.error, textarea.error, select.error {border-color: red !important;}
label {font-family: Poppins;}
.form-field { padding: 12px 0px;}
.form-field label {display: block;line-height: 35px; font-weight: 600; font-size: .8em;}
.form-field input {width: 100%;}
.files-list{margin-top: 20px;}
.file-upload {display: flex;}
.file-upload .partidos-file-name ,.file-upload .votantes-file-name  {width: 70%; font-family: Poppins;}
.file-upload .hidden {display: none;}
.remove-file {background-color: #F45B69;cursor: pointer; border-radius: 8px;color: white;font-weight: 300;text-align: center;margin: auto;   font-family: 'Poppins';display: block;font-weight: 600;font-size: .8em;margin: auto;text-align: center; padding: 8px 20px 10px 15px;}
.remove-file:hover {background-color: #f73d4d;}
.button-upload{background-color: #3F468F;cursor: pointer; border-radius: 8px;color: white;font-weight: 300;text-align: center;margin: auto;padding: 2px 20px 1px 15px;}
.button-upload:hover{background-color: #535bb9}
.button-next{display: block;line-height: 35px;font-weight: 600;font-size: .8em; background-color: #F69447;cursor: pointer; border-radius: 8px;color: white;font-weight: 600;text-align: center;margin-top: 100px;float: right;width: 110px;position: absolute;bottom: 60px;right: 90px;}
.button-next:hover{background-color: #fc7209}
.button-back{display: block;line-height: 35px;font-weight: 600;font-size: .8em; ;cursor: pointer; border-radius: 8px;color: white;font-weight: 600;text-align: center;margin-top: 100px;float: right;width: 110px;position: absolute;bottom: 60px;left: 90px;}
.button-back label {color: #F69447;font-weight: 600; cursor: pointer;}
input, textarea, select {font-size: 0.8em; -webkit-appearance: none; -moz-appearance: none; border: none; line-height: initial !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {background-color: #fff; border-radius: 8px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):disabled, select:disabled, textarea:disabled {background: rgba(0, 0, 0, 0.1) !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select:not([size]), textarea {height: 38px; padding: 0 18px; border: 1px solid #ddd;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus, select:not([size]):focus, textarea:focus, input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):hover, select:not([size]):hover, textarea:hover {border-color: #bbb;}
textarea {resize: none; font-family: Poppins; width: 100%; height: 100px;}
.bottom-right {position:absolute;bottom:20px;right:20px;}
.center {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.popup {width:350px; padding: 40px 20px;background:#f5f5f5;border-radius:10px;box-sizing:border-box;z-index:2;text-align:center;opacity:0;top:-200%;transform:translate(-50%,-50%) scale(0.5);transition: opacity 300ms ease-in-out,top 1000ms ease-in-out,transform 1000ms ease-in-out;}
.popup.active {opacity:1;top:50%;transform:translate(-50%,-50%) scale(1);transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);}
.blur {filter: blur(10px);}

/*POPUP*/
.popup .icon {margin:5px 0px;width:50px;height:50px;border:2px solid #34f234;text-align:center;display:inline-block;border-radius:50%;line-height:60px;}
.popup .icon i.fa {font-size:30px;color:#34f234;} 
.popup .popup-title {margin:25px 0px;font-size:30px;font-weight:600;}
.popup .description {color:#222;font-size:15px;padding:5px;}
.popup .dismiss-btn { margin-top:25px;}
.popup .dismiss-btn button {padding:10px 20px;background:#0b6196;color:#f5f5f5;border:2px solid #a5a1a1;font-size:16px;font-weight:600;outline:none;border-radius:10px;cursor:pointer;transition: all 300ms ease-in-out;}
.popup .dismiss-btn button:hover {color:#111;background:#f5f5f5;}
.popup > div {position:relative;top:10px;opacity:0;}
.popup.active > div {top:0px;opacity:1;}
.popup.active .icon {transition: all 300ms ease-in-out 250ms;}
.popup.active .popup-title {transition: all 300ms ease-in-out 300ms;}
.popup.active .popup-description {transition: all 300ms ease-in-out 350ms;}
.popup.active .dismiss-btn {transition: all 300ms ease-in-out 400ms;}

/*DRAGDROP*/
.drag-drop{background-color: #F7F8FB;padding: 10px 60px;margin-left: 80px;max-width: 61%;border-radius: 8px;box-shadow: 5px 8px #e4e4e4;}
.drag-drop-elements{display: flex;font-size: 24px;padding: 10px;border: 1px solid #c1c1c1;background: #FFFFFF;border-radius: 8px;margin: 20px 0;}
.partido-info label:first-child { display: block;margin: 0px 20px;font-size: 0.65em;}
.partido-info label:last-child {display: block;margin: 0px 20px;font-size: 0.5em;color: #95989E;}