.content-end {height: 570px; width: 1070px; background-color: #F0F8FF; padding: 25px;}
.form-content {max-width: 50%; margin: auto;}
.form {height: 100%; width: 100%; background-color: white; border-radius: 8px;}
.date-columns {display: flex; gap: 50px;}
.fecha {width: 200px;}

/*INPUTS*/
input, textarea, select {font-size: 0.75em; -webkit-appearance: none; -moz-appearance: none; border: none; line-height: initial !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {background-color: var(--white-color); border-radius: 8px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):disabled, select:disabled, textarea:disabled {background: rgba(0, 0, 0, 0.1) !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select:not([size]), textarea {height: 38px; padding: 0 18px; border: 1px solid #ddd;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus, select:not([size]):focus, textarea:focus, input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):hover, select:not([size]):hover, textarea:hover {border-color: #bbb;}
input[type="submit"] {cursor: pointer;}
input[type="file"] {display: none;}
textarea {height: 60px; padding: 5px 18px; transition: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;}
select[size] {background: var(--white-color); border-radius: 2px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); overflow: auto;}
select[size] option { padding: 5px 10px; transition: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;}
select[size] option:checked {box-shadow: 0 0 0 20000px #88d65d inset;}
input.icon-input {padding-right: 32px; background-position: calc(100% - 10px) center !important; background-repeat: no-repeat !important; background-size: 20px !important;}
input.error, textarea.error, select.error {border-color: red !important;}
label {font-family: Poppins;}
.form-field { padding: 5px;}
.form-field label {display: block;line-height: 35px; font-weight: 600; font-size: .7em;}
.form-field input {width: 100%;}
input, textarea, select {font-size: 0.75em; -webkit-appearance: none; -moz-appearance: none; border: none; line-height: initial !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {background-color: #fff; border-radius: 8px;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):disabled, select:disabled, textarea:disabled {background: rgba(0, 0, 0, 0.1) !important;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select:not([size]), textarea {height: 38px; padding: 0 18px; border: 1px solid #ddd;}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus, select:not([size]):focus, textarea:focus, input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):hover, select:not([size]):hover, textarea:hover {border-color: #bbb;}
textarea {resize: none; font-family: Poppins; width: 100%; height: 100px;}