<div class="content-end" >
    <div class="form">
        <div class="step-bar" style="height: 100px;">

        </div>
        <div class="form-content">
            <form id="frmCrearActualizarCategoria" class="popup-form" method="post" onsubmit="return crearActualizarCategoria(this);" enctype="multipart/form-data">
                <div class="form-field">
                    <label class="left">Nombre ()</label>
                    <input type="text"  class="nom" id="id" name="Codigo" id="CodigoCategoriaCrearActualizar" value="" placeholder="Codigo" />
                </div>
                <div class="form-field">
                    <label class="left">Descripción</label>
                    <textarea name="Descripcion" id="DescripcionCategoriaCrearActualizar" value="" placeholder="Breve descripcion"></textarea>
                </div>
                <div class="date-columns">
                    <div class="form-field">
                        <label class="fecha">Fecha de inicio ()</label>
                        <input type="date" id="start" name="trip-start"value="2018-07-22"min="2018-01-01" max="2018-12-31">
                    </div>
                    <div class="form-field">
                       <label class="fecha">Fecha de fin (*)</label>
                       <input type="date" id="start" name="trip-start"value="2018-07-22"min="2018-01-01" max="2018-12-31">
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>
