.content {width: 100%; height: 100%; background-color: #F0F8FF;}
.content-up {height: 90px; width: 100%; background-color: white;}
.content-end {height: 86%; width: 100%; background-color: #F0F8FF; padding: 45px;}
.form {height: 100%; width: 100%; background-color: white; border-radius: 8px;}

.wrapper {display: flex;flex-direction: row; overflow: hidden;}
 