<div style="height: 70px;"></div>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<div class="form" >
			<h1>Sign in</h1>
			<div class="social-container">
			</div>
			<input type="email" class="CodigoAlumno" placeholder="Codigo de alumno" />
			<input type="password" class="Contrasena" placeholder="Contraseña" />
			<a ></a>
			<button (click)="Login()">Sign In</button>
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<button class="ghost"  id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<a class="icon-title"></a>
				<a class="icon-logo-Login"></a>
			</div>
		</div>
	</div>
	<div class="popup center">
        <!-- <div class="icon">
          <i class="fa fa-check"></i>
        </div> -->
          <div class="popup-title">
          </div>
          <div class="popup-description">
          </div>
          <div class="dismiss-btn">
            <button id="dismiss-popup-btn" (click)="closePopUp()">
              Aceptar
            </button>
          </div>
        </div>
</div>

