.left-form{
    width: 50%;
    height: 100%;
    overflow: hidden;
    float:left;
    background: linear-gradient(141.69deg, #0B9BF5 29.69%, #1B2AC2 100%);
}
.right-form{
 width: 50%;
 height: 100%;
 float: left;
 margin: 0;
 display: flex;
 justify-content: center;
}

.right-form form {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
