<div class="screen" style="width: 100%; height: 100%; display: flex;">
    <div class="menu-bar">
      <div class="title-container">
        <a class="icon-title"></a>
      </div>
        <div class="menu-options" >
            <div class="menu-option" (click)="registroNavigate()" >
                <a class="icon icon-votantes"></a>
                <label>Lista de votantes</label>
            </div>
            <div class="menu-option" (click)="eleccionesNavigate()">
                <a class="icon icon-elecciones" ></a>
                <label>Elecciones</label>
            </div>
            <div class="menu-option" (click)="procesoNavigate()">
                <a class="icon icon-proceso"></a>
                <label>Proceso electoral</label>
            </div>
            <div class="menu-option logout" (click)="cerrarSesionNavigate()">
                <a class="icon icon-logout"></a>
                <label>Cerrar sesión</label>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
