@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.menu-bar{width: 290px; height: 100%; border: 2px solid #ddd}
.title-container{margin-top: 30px; position: relative;}
.title-container label{ font-family: Poppins;font-style: normal;font-weight: 900; color: #0A7BC1; font-size: 2.0rem;line-height: 64px;display: block;position: absolute;top: 25px;left: 35px;}
.menu-options { height: 66%; width: 100%; padding: 40px 8px 8px 8px;}
.menu-option {  height: 50px;margin: 24px; display: flex;border-radius: 8px;}
.menu-option label {font-weight: 600;}
.menu-option label:hover{cursor: pointer;} 
.menu-option:hover{background-color: #D5E6FB; cursor: pointer;}
.menu-option label {font-family: 'Poppins'; align-self: center;font-size: 0.90em;display: block;}
.icon-title {height: 75px;width: 245px;background-size: auto 45%;background-position: center;background-repeat: no-repeat;margin: 6px 0px 0 0;display: block;background-image: url('../../../assets/votum.svg');}
.icon{height: 35px;width: 55px;background-size: auto 50%;background-position: center;background-repeat: no-repeat;margin: 6px 0px 0 0;display: block;}
.icon-votantes {background-image: url('../../../assets/votantes_black.svg');}
.icon-elecciones {background-image:url('../../../assets/elecciones_black.svg'); }
.icon-proceso {background-image:url('../../../assets/proceso_electoral_black.svg');}
.icon-logout {background-image:url('../../../assets/logout_black.svg');}
.logout {margin-top: 60px;}
